server {

        root /home/cooking_app/www/WebDev_FinalProject2/web-ui/build;

        index index.html;

        server_name cooking-app.wumbo.casa;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ /index.html;
        }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/cooking-app.wumbo.casa/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/cooking-app.wumbo.casa/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = cooking-app.wumbo.casa) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


        listen 80;
        listen [::]:80;

        server_name cooking-app.wumbo.casa;
    return 404; # managed by Certbot


}